@{
    ViewBag.Title = "Veripark Mağazası - Siparişiniz alınmıştır";
}
<h2>Teşekkür ederiz.</h2>
Sipariş verdiğiniz için teşekkür ederiz, ürünleri en kısa zamanda istediğiniz gibi paketleyip göndereceğiz...