@{
    ViewBag.Title = "Hakkinda";
}

<h2>Uygulama Hakkında</h2>
<h4>Kullanılan teknolojiler ve yararlanılan yöntemler: Microsoft .NET Framework 4.0, ASP.NET MVC 4.0, Entity Framework 6.0 + Code First Anlayışı, LINQ, SQL Express ,C#, Visual Studio Ultimate 2013, Bağımlılık Aşılama(DI) Yazılım Tasarım Tekniği, Katmanlı Mimari, Ninject (Bağımlılık Aşılama Konteynırı), Moq (Sahte Obje Yaratım Aracı), Windows Authentication, HTML, CSS, Bootstrap CSS Kütüphanesi, Birim Testler
</h4>
<h4>Geliştiren : Tayfun ADAKOĞLU</h4>